h1 {
    text-align:center;
    border: 10px solid yellow;
    padding: 75px ;
    margin: 10px 0px 30px 0px;
    background-color: yellow;

    text-decoration: underline;
}

div#main{
    width:auto;
    height: 400px;
    border:1px solid black;
}
h2 {
    width: 1000px;
    height: 388x;
    float: left;

}
#side{
    width: 198px;
    height: 388x;
    float: right;
}