body {
    font-family: 'NanumSquareR', sans-serif;
    background-color:  beige;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: auto;
}

@font-face {
    font-family: 'NanumSquareR';
    font-style: normal;
    font-weight: 400;
    src: url(../font/NanumSquareR.ttf) format('truetype');
}


h1 {
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 5% 0px 5px;
}

#img {
    
    width: 40%;
}

#main{
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 5% 5%;
}

#main h3 {
    line-height: 1.7rem;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

button{
    color:black;
    background-color: beige;
    font-size: 1.5rem;
    border-radius: 60px;
    padding: 5px 20px;
    margin: 1.2rem auto;
}

section p {
    font-weight: bold;
    font-size: 1.2rem;
}

.dev {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}

.dev h2 {
    margin: 0;
    padding: 0;
}
.dev h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 1.2rem;
}

.link {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.credit {
    text-align: center;
}

.credit h1 {
    margin: 0 auto;
    padding: 0;
    padding-bottom: 1.2rem;
}

.credit h3 {
    margin-top: 0;
    line-height: 1.67rem;
    font-weight: normal;
}

footer{
    text-align: center; font-size: 15px;
    margin: 0px;

}
